.gradle
build/
.idea/
!gradle/wrapper/gradle-wrapper.jar
!**/src/game/**/build/
!**/src/test/**/build/
*.iws
*.iml
*.ipr
out/
!**/src/game/**/out/
!**/src/test/**/out/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/game/**/bin/
!**/src/test/**/bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
.DS_Store